<html xmlns:th="http:/www.thymeleaf.org">
<!-- 显示 -->
<div id="showTDL">
	<div>
		<form class="form-inline">
			<input class="btn btn-default" type="button" value="新增" id="add">
		</form>
	</div>

	<div>
		<table class="table table-hover">
			<thead>
				<tr style="background: #E8E8E8;">
					<th>序号</th>
					<th>创建时间</th>
					<th>待办事项</th>
					<th>起始时间</th>
					<th>结束时间</th>
					<th>优先级</th>					
				</tr>
			</thead>

			<tbody th:each="tdl:${session.tdl}">
				<tr>
					<td th:text="${tdl.id}">1</td>
					<td th:text="${tdl.creationTime}">2020-10-23 15:04:27</td>
					<td th:text="${tdl.details}">写代码</td>
					<td th:text="${tdl.startingTime}">2020-10-23 15:04:27</td>
					<td th:text="${tdl.endingTime}">2020-10-23 15:04:27</td>
					<td th:if="${tdl.priority==0}">一般</td>
					<td th:if="${tdl.priority==1}">重要</td>
					<td th:if="${tdl.priority==2}">紧急</td>
					<td>
						<i class="layui-icon layui-icon-edit editUser" th:attr="id=${tdl.id}"></i> 
						<i class="layui-icon layui-icon-delete deleteUser" th:attr="id=${tdl.id}"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="fenye">
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li><a href="#" aria-label="Previous"> <span
						aria-hidden="true">上一页</span>
				</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#" aria-label="Next"> <span aria-hidden="true">下一页</span>
				</a></li>
			</ul>
		</nav>
	</div>
	<!-- 新增模态框 -->
	<div class="modal" id="toAdd">
		<div class="modal-dialog" style="height: 400px; overflow: auto;">
			<div class="modal-content">
				<form id="add-form">
					<div class="modal-body">
						<div class="form-group">
							<label>待办事项</label> <input type="text" name="details"
								class="form-control">
						</div>
						<div class="form-group">
							<label>起始时间：</label> <input type="text" name="startingTime"
								class="form-control">
						</div>
						<div class="form-group">
							<label>结束时间：</label> <input type="text" name="endingTime"
								class="form-control">
						</div>
						<div class="form-group">
							<label>优先级：</label> <select name="priority"
								class="form-control">
								<option value="0">一般</option>
								<option value="1">重要</option>
								<option value="2">紧急</option>
							</select>
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<button class="btn" style="background: #ccc">取消</button>
					<button class="btn" style="background: #ccc">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 删除模态框 -->
	<div class="modal" id="deleteModal">
		<div class="modal-dialog" style="width: 350px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">是否确定删除</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary">确定</button>
				</div>
			</div>
		</div>
	</div>

</div>
<style>
#role {
	width: 1140px;
	overflow: hidden;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	background-color: #ccc;
	border-color: #ccc;
}

.pagination>li>a, .pagination>li>span {
	color: black;
}

.fenye {
	margin-left: 400px;
}

.form-inline {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 20px;
}

input[type=submit] {
	margin-left: 50px;
}

#add {
	margin-left: 1020px;
}

.table th, td {
	text-align: center;
}

#deleteModal {
	margin-top: 100px;
}

#toAdd {
	margin-top: 50px;
}
</style>
<script type="text/javascript">
	$(function(){
		// 点击新增显示新增模态框
		$('#add').click(function(){
			$('#toAdd').show();
		})
		
		// 新增模态框保存
		$('button:contains(保存)').on('click',function(){
				$('#toAdd').hide();
				
				//发送ajax请求，将前台输入的数据进行保存
				$.post("addTDL",{details:$("input[name=details]").val(),
					startingTime:$("input[name=startingTime]").val(),
					endingTime:$("input[name=endingTime]").val(),
					priority:$("select[name=priority] option:selected").val()},function(data){
						alert(data);
						//重新触发显示的点击事件，以达到刷新界面的效果
						$(".layui-nav-child dd").trigger("click");
				})
				
				document.getElementById('add-form').reset();
		})	
		
		// 新增模态框关闭
		$('button:contains(取消)').on('click',function(){
			$('button[type=reset]').trigger('click');
			
			$('#toAdd').hide();
			
			// form表单置空
			document.getElementById('add-form').reset();
		})
		
		//点击编辑显示模态框
		$('.editUser').click(function(){
			$.get("findTDLById",{id:$(this).attr("id")},function(data){
				$("input[name=details]").val(data.details);
				$("input[name=startingTime]").val(data.startingTime);
				$("input[name=endingTime]").val(data.endingTime);
				$("select[name=priority]").val(data.priority);
			})
			
			$('#toAdd').show();
		})
	})
</script>
</html>